

/****************************main css**************************************/
html{
  font-family:'Montserrat',sans-serif;
   overflow-x: hidden;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50% );
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(20%);
    
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideInAbove{
  0% {
    transform: translateY(-50%);
    opacity:0;
  }
  100% {
    transform: translateY(0);
    opacity:1;
  }
}
@keyframes appearOnOpen{
  0%{
    opacity: 0;
  }
  
  100%{
    opacity:1;
  }

}
body{
  margin:0;
}


h2{
  margin: 0.725rem 0;
}
h4,h5{
  margin:0;
}

p{
  margin:0.5rem 0;
}

.main-grid{
  display: grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "banner"
                         "services"
                         "articles"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 80vh 70rem 40rem 30rem;                    
}

a{
  text-decoration:none;
}

#navigation-bar{
  width:100%;
  padding: 1.5rem 0rem;
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:fixed;
  transition:0.4s;
  top:0;
  z-index: 100;
  background-color: #fff;
}
#logo-images{
  transition:0.4s;
  width:3rem;
  display: inline-block;
}
.logotext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#logo{
  display: flex;
  margin-left:3rem;
  padding-left: 0.5rem;

}
.logo-nom{
  font-weight: bold;
  color:#232655;
}
.toggleBox{
  margin-right: 3rem;
}
.toggleBox a img{
  width:2rem;
  padding: 1rem;
  z-index: 101;
}
.toggleBox a .close{

  filter: invert(1);
}
nav.navigation{
  display: none;
}
nav.navigation.active{
  display:flex;
  flex-direction: column;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color: #232655;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  
}
.dropbtn {
  display: none;
}
.dropdown-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav.navigation.active a{
   padding:2rem;
   color:azure;
   font-size: 1.5rem;
  
}
img.menu.hide{
  display: none;
}
img.close.show{
  display: flex;
}
img.close{
  display: none;
}
/* Code CSS For main Banner */
.banner-main{
  grid-area: banner;
  margin: 0rem 7.5%;
  width: 85%;
  height: 100%;
  display:flex;
  justify-content:baseline;

}
/*left side of the banner */
#banner-left{
display:inline-block;
flex:1;
background-image: url("./images/EMP_7124.jpg");
background-position:center;
background-size: cover;
animation:  2s ease-out 0s 1 appearOnOpen;


/*banner Profile picture section*/
}
/* Right side of the Banner*/
#banner-right{
  background-color: #DFD3C3;
  flex:1;
  height:100%;
}
.banner-right-texte{
  width:85%;
  height: 85%;
  margin:7.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.banner-slogan{
 margin:0 0 1rem 0;
  color: #232655;
  font-size: 2.1rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;

}
.banner-description{
 margin: 0.2rem 1rem 0.2rem 1rem;
 height:fit-content;
 text-align:justify;
 line-height: 1.6;
 color: black;
 font-size: 1.1rem;
 font-family:  Helvetica, arial, sans-serif;
}
#button-banner{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
#button-banner-2{
  margin-top:1rem;
}
.button-rendez-vous{
 
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 2rem 0 0 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  overflow: hidden;
  background: #232655;
  color: white;
 }
.button-rendez-vous:hover{
  background-color: #3654ff;
}

.button-savoir-plus {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  overflow: hidden;
  background: ghostwhite;
  color: #232655;
 }
 .button-savoir-plus:hover{
  background: #3654ff;
  color: ghostwhite;
 }
 
 
 
 
/*****************************************/
/* services offered section */
#container-services{
  
  margin: 0rem 5%;
  width: 90%;
  height:100%;
  grid-area: services;
  background-color:#fff;
}
#services-top{
  margin: 2rem;
  height: 10%;
  display:flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#services-box,#articles-box{
  width: 18rem;
  height: 4rem;
  background-color: #232655;
  box-shadow:  -0.3rem 0.3rem 3px #DFD3C3;
  display: flex;
  justify-content: center;
  align-items: center;

}
#services-bottom{
  height:80%;
  width:100%;
}
#services-principale{
  margin-top: 0rem;
  height:22rem;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}
#titre-services,#titre-articles{
  display: inline-block;
  width: fit-content;
  margin: 0 auto;
  font-size:2rem;
  color:white;
}
.services{

  margin:0;
  width: 22%;
  height: 12rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow:  12px 10px 20px #cfcfcf;
  padding: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.services:hover{
  transform: scale(1.05);
  box-shadow:  7px 4px 10px #cfcfcf;
}
.services:hover h2{
  color:#3654ff;
}
.reveal{
  position:relative;
  transform: translatey(150px);
  opacity:0;
  transition: all 1s ease;

}
.reveal.active{
  transform: translatey(0px);
  opacity:1;

}
.reveal-social{
  transform: translatex(150px);
  transition: all 2s ease;

}
.reveal-social.active{
  transform: translatex(0px);
  opacity:1;

}
.epargne-logo{
  width:25%;
}
.assurance-logo{
  width:25%;
}
.services a{
  width:100%;
}
#economiser{
  font-weight: bolder;
  font-size:2.1rem;
  color:#3654ff;
}
.soumission-left-text{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.soumission-left-text h3{
  margin:0.2rem 0 1rem 0;
  padding:0 5rem;
}
.soumission-left-text h1{
  margin-top: 0;
  text-align: center;
  
}
#soumission{
  margin:1rem auto 1.5rem auto;
      height: 22rem;
      width: 70%;
      display:flex;
      flex-direction: column;
      box-shadow:  21px 21px 41px #cfcfcf;
      z-index:10;
}
#soumission-left{
  
  height: 100%;
  width: 100%;
}
.soumission-left-text h3,.soumission-assurance h3{
  font-size: 1rem;
  margin:0;
}
.button-soumission {
  background-color: #232655;
  color: #fff;
  width: 12.5rem;
  height: 2.9em;
  border: #232655 0.2em solid;
  border-radius: 33px;
  text-align: right;
  transition: all 0.6s ease;
}

.button-soumission:hover {
  background-color: #3654ff;
  border: #3654ff 0.2em solid;
  cursor: pointer;
  border-radius: 5px;
}

.button-soumission svg {
  width: 1.6em;
  margin: -0.2em -0.2em 2em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.button-soumission:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em
}
.soumission-images-bar{
  width:90%;
  height:20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  

}
.soumission-images-bar a{
  height:100%
}
.soumission-images-bar a img{
  width:1rem;
  transition: all 1s ease;
  opacity:0;
}
.soumission-images-bar.active a img{
  opacity:1;
  width:4rem;
}
/***************Articles***************/
.articles{
  grid-area: articles;
  display: flex;
  flex-direction: column;
  justify-content:space-around;

}
#articles-box{
  margin-left:7%;
}
.articles-wrapper{
 
  position: relative;
  margin: 0 auto;

}
.articles-wrapper i {
  height:3rem;
  width: 3rem;
  cursor: pointer;
  z-index:1000;
  text-align: center;
  line-height: 50px;
  background: ghostwhite;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  position: absolute;
  top: 50%;

}
.articles-wrapper i:first-child{
  left: -1.8rem;
}
.articles-wrapper i:last-child{
  right: -1.8em;
}
.articles-carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap:1rem;
  border-radius: 0.2rem;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-inline-start: 0rem;
  height:22rem;
  width:40rem;  
}

.articles-carousel::-webkit-scrollbar {
  display: none;
}
.articles-card-img{
  width:100%;
  height:14rem;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  overflow: hidden;
  
}

.articles-card-img img{
 width: 100%;
 height:100%;
 object-fit: cover;
 transition: all 0.2s ease-in;
}
.bottom-articles-cards{
  height:30%;
  width:100%;
}

.bottom-articles-cards hr{
width:15%;
color: lightgrey;
border-style: dotted;
border-bottom: none;
border-left: none;
border-right: none;
border-top-width: 0.5rem;
}
.articles-card{
  scroll-snap-align: start;
  display:flex;
  flex-direction: column;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.23);
  background-color:#F5F5F5;
  border-radius: 0.2rem;
  height:20rem;
  
  
}
.articles-card h4{
  text-align: left;
  padding:0.5rem;
  color:black;
}
.articles-card h5{
  text-align: right;
  color: #232655;
  margin: 0.2rem;
}
.articles-card:hover img{
  transform: scale(1.05);
  cursor: pointer;
}
.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #232655;
  background-color: #DFD3C3;
  position: relative;
  transition: .5s ease;
  width:12rem;
  margin: 0 auto;
  cursor:pointer;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3654ff;
  transition: .1s ease;
}

.btn:hover {
  color: white;
  transition-delay: .1s;
  background-color: #3654ff;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #3654ff;
  transition: .4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #3654ff;
}
footer{
  grid-area:footer;
}
#question-box{
  height:70%;
  width:100%;
  background-color: #DFD3C3;
  display: flex;
}
#question-box-left{
  width:35%;
  padding:0;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#question-box-left h1,h4{
  margin: 0;
  display: flex;
  align-items: center;
}


#contacter-moi-box{
  width:10rem;
  height:3rem;
  display: flex;
  justify-content: space-around;
  color:white;
  background-color: #232655;
}
#question-box-right{
  width: 60%;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-box{
  height:100%;
  width:25%;
}
#contact-box-email{
  background-image: url("./images/EMP_7020.jpg");
  background-size: cover; 
}
#contact-box-cell{
  background-image: url("./images/EMP_6999.jpg");
  background-size: cover;
}
#contact-box-facebook{
  background-image: url("./images/EMP_7211.jpg");
  background-size: cover;
}
#contact-box-linkedin{
  background-image: url("./images/EMP_6959.jpg");
  background-size: cover;
}
.contact-box-area{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:flex-end;
  height:60%;
}
.contact-box a{
  color:black;
  }
#contacter-moi-box svg{
  width: 1.6em;
  transition: all 0.6s ease;
  text-align: center;
  vertical-align: center;
}
.background-color{
  width:100%;
  height:100%;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#background-color-email{
  background-color: white;
}
#background-color-cell{
  background-color: #cfcfcf;
}
#background-color-facebook{
  background-color: #232655;
}
#background-color-linkedin{
  background-color: #749BC2;
}
.background-color img{
  width:25%;
}
#text-courriel{
 font-weight: bolder;
  font-size: 1.25rem;
  text-align: center;
}
#text-cell{
  font-weight: bolder;
   font-size: 1rem;
   margin-top:0.2rem;
   text-align: center;
 }

#reference-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:40%;
  background-color: #232655;
}
#reference-footer p{
  color:white;
  font-size: 12px;
}
#reference-footer-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  height:100%;
  margin-left: 5%;
}
#reference-nom p{
  font-weight: bold;
  color: #232655;
  margin:0;
}
#reference-nom h4,h5{
  color:white;
}
#reference-adresse p{
  font-size: 12px;
  color:white;
  margin:0;
}
#reference-adresse{
  margin-top: 1.5rem;
}
#social-icon-bar{
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;

}
#social-icon-bar a{
  margin:0 1rem 0 0;
  width: 1.5rem;
}
#social-icon-bar img{
  width:100%;
  height:100%;
}
#reference-footer-middle{
  height:100%;
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#adresse{
  text-align: center;
}
#reference-footer-right{
  width:30%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#reference-footer-right-text h3{
  text-align: right;
  color:white;
  margin: 0rem 1rem;
}

/***********************PAGE SERVICES*****************************/
.grid-services{
  display: grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "services"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 40rem 30rem;                    
}
#services-main-container{
  grid-area: services;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services-offert-box{
  width: 20rem;
  height: 3rem;
  box-shadow:  -0.1rem 0.1rem  6px grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#services-offert-box h1{
  color:#232655;
}

#choix-services-box{
  height:80%;
  width: 100%;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.choix-services{
  width:40%;
  height:70%;
  box-shadow: 0.6rem 0.6rem 6px #cfcfcf;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.choix-services a{
  width:50%;
}

.choix-services h1{
  width:100%;  
  padding:0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: #232655;
  color: white;
}
.choix-services a :hover{
  background-color: #DFD3C3;
  color: #232655;
}

#choix-epargne{
  background-image: url("./images/EMP_7022.jpg");
  background-size: cover;
  background-position:0 60%;
}
#choix-assurances{
  background-image: url("./images/EMP_7045.jpg");
  background-size: cover;
  background-position: 0 65%;
}
/**************Contact*************/

.contact-grid{
  display: grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "contact"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 60rem 30rem;                    
}

#contact-container{
  padding-top: 1rem;
  grid-area: contact;
  text-align: center;
}
#form-contact-info{
  text-align: center;
  margin: 0 auto ;
  padding-top: 1rem;
}
#form-contact-info p {
  text-align: center;
margin:0.2rem;

}

#contact-left{
  width:50%;
  height: 100%;
  background-image: url('./images/EMP_6966.jpg');
  background-size: cover;
  background-position: bottom;

}

#contact-box{
  width:60%;
  height:50rem;
 margin: 0 auto;
  display:flex;
  justify-content: center;
  box-shadow: -0.6rem  0.6rem 1.5rem 6px grey;
 

  
}
#contact-box-top{
  width:90%;
  margin: 0 5%;
  height:6rem;
  display:flex;
  justify-content: center;
  align-items: center;

  background-size:cover;

}
#contact-box-top h1{
  color:#232655;
  width:100%;
  text-align: center;
}
.form {
  background-color: #fff;
  width:50%;
  height:42rem;
  display: flex;
  flex-direction: column;
  padding:2rem 2rem 0 2rem;

}
#adresse-contact{
  color:grey;
}
#form-contact-info a{
color:black;
}

.group {
  position: relative;

}
.form .group label {
  font-size: 14px;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  transition: all .3s ease;
}

.form .group input,
.form .group textarea,
.form .group select {
  padding: 0.7rem 0 0.7rem 0.7rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1.2rem;
  outline: 0;
  width: 100%;
  background-color: transparent;
}

.form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
  top: 0.7rem;
  background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus,
.form .group select:focus{
  border-color: #232655;
}

.form .group input:focus+ label, .form .group textarea:focus +label,
.form .group select:focus+ label {
  top: -0.7rem;
  left: 0.7rem;
  background-color: #fff;
  color: #232655;
  font-weight: 600;
  font-size: 14px;
}

.form .group textarea {
  resize: none;
  height: 8rem;
}

.form button {
  background-color: #232655;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.form button:hover {
  background-color: #3654ff;
}
.form .group textarea{
  font-family: 'Montserrat',sans-serif; ;
}

#Service{
  width:102.5%;
}

/*****************epargne********************/
.epargne-grid{
  display:grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "epargne"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 145rem 30rem;                    
}
.epargne-container{
  grid-area:epargne;
  width:90%;
  margin: 0 5%;
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(5,1fr);     
}

.section-texte{
  width:100%;
  height:23rem;
  display:flex;
  align-items: center;
  margin:2rem 0;
 
  
}
.epargne-images{
  height:100%;
  width:50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.section-left{
  opacity: 0;
  transition: all 1.5s ease;
  transform: translatex(-2rem);

}
.section-right{
  opacity: 0;
  transition: all 1.5s ease;
  transform: translatex(2rem);
}
.section-texte.active .section-left{
  opacity:1;
  transform: translatex(0);
}

.section-texte.active .section-right{
  opacity:1;
  transform: translatex(0);
}
.section-texte.active.section-right{
  opacity:1;
  transform: translatex(0);
}
.first-section{
  animation: 1s ease-out 0s 1 slideInRight;
}
.sec-section{
  animation: 1s ease-out 0s 1 slideInLeft;
}
.epargne-images img{
  max-height:100%;
  max-width: 80%;

}
.epargne-texte{
  width:50%;
  height:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.epargne-texte h2{
  color:#232655;
  text-align: center;
}
.epargne-texte p{
  line-height: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  padding:0 2rem;
  text-align: justify;

}
.epargne-slogan{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width:95%;
  height:100%;
  background-image: url("./images/EMP_7159.jpg");
  background-size: cover;
  background-position: 0 35%;
  margin-bottom: 2rem;
}
#image-approche-personalise{
  margin-bottom: 5rem;
}

#epargne-titre{
  text-transform: uppercase;
  width:45%;
  background-color: #232655;
  color: white;
  padding:1rem;
  text-align: left;
  }

/********************Assurances****************/
.assurance-grid{
  display:grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "assurance"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 100rem 30rem; 
   font-family: 'Montserrat', sans-serif;           
}
.main-assurance-grid{
  grid-area: assurance;
  display:grid;
  grid-template-columns: repeat(14,1fr);
  grid-template-rows:repeat(30,1fr) ;
gap:1rem;
}
.assurance-banner-top{
  grid-row: 1/ 7;
  grid-column: 2/14;
  background-image: url("./images/background-assurance.jpg");
  background-size: cover;
  position:relative;
  margin:0 -1rem;
}
#titre-assurance{
  position:absolute;
  top:5rem;
  background-color: #232655;
  color:white;
  padding:1rem;
  width:50%;
  font-size:2rem;
  text-align: right;
}
.produits-assurance{
  background-color:white;
  box-shadow: -0.5rem 0.5rem 16px grey;
  z-index:10;
  display:flex;
  align-items: center;
  text-align: justify;
}
#assurance-vie ul{
  margin: 2rem;
  
}
#assurance-vie li{
  color:#232655;
  font-weight: bold;
}
#assurance-vie{
  grid-row: 5/14;
  grid-column: 2/14;
  animation: 1.2s ease-out 0s 1 slideInTop;
}
#titre-assurance-vie{
  margin:5%;
  width:60rem;
  background-image: url("./images/pexels-oleksandr-canary-islands-3036405.jpg");
  background-size: cover;
  text-align: center;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.titre-assurances-box h2{
  margin:0;
  width:100%;
  height: fit-content;
  background-color: #fff;
  color: #232655;
  padding: 0.2rem 0.5rem;
}

#assurance-maladie{
  grid-row:15/23;
  grid-column: 2/14;
}
#assurance-maladie ul{
  width:50%;
 margin: 1.5rem;
}
#assurance-maladie li{
  margin: 1.5rem 0;
}
#titre-assurance-maladie{
  margin:5%;
  width:40%;
  background-image: url("./images/istockphoto-1189132246-612x612.jpg");
  background-size: cover;
  text-align: center;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
#assurance-invaliditer{
  grid-row:24/30;
  grid-column:2/8;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding:1rem;
}
#titre-assurance-invaliditer{
  background-image: url("./images/difficult-team.webp");
  background-size: cover;
  background-position: center;
  height:70%;
  width:95%;
  display:flex;
  align-items: center;
  text-align: center;
}
#assurance-invaliditer span{
  
  margin: 0.5rem 2rem 1rem 2rem;
}
#assurance-auto-hab{
  grid-row:24/30;
  grid-column:9/14;
}
.soumission-assurance{
  margin:1.2rem;
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
#soumission-page-assurance a img{
  opacity: 1;
  transform: translateY(0);
  width:4rem;
}
/***********A propos************************/
.apropos-grid{
  display:grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "apropos"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 50rem 30rem;      
   font-family: 'Montserrat',sans-serif;  
}
#main-apropos{
  display: flex;
  grid-area: apropos;
  align-items: flex-start;
  width:90%;
  margin:2rem 5%;
 
}
#image-apropos{
  height:80%;
  width:40%;
  background-image: url('./images/EMP_7303.jpg');
  background-size: cover;
  background-position: center;
  float:left;
}

#texte-apropos{
  margin-left: 1rem;
  width:70%;
  text-align: justify;
}
#texte-apropos p{
  margin: 2rem 0;
  line-height: 1.4rem;
 
}
#texte-apropos h1{
margin-top:0;
text-align: center;
animation: 2s ease-out 0s 1 appearOnOppen;

}
#info-apropos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color:gray;
  
}
#info-apropos a{
  color:gray;
}
/***************merci*************/
.merci-grid{
  display: grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "merci"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 30rem 30rem;                    
}
#merci-container{
  grid-area: merci;
  display: flex;
  justify-content: center;
  align-items: center;
}
#merci-container img{
  width:5rem;
}
#message-remerciment{
   display:flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
  height:20rem;
  width:30rem;
  box-shadow: -0.5rem 0.5rem 16px grey;
}

/*****************articles**********************/
.main-grid-articles{
  display: grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "articles"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh auto 30rem;                    
}

.articles-container{
  grid-area: articles;
  text-align: center;
  background-color: white;
}
.articles-container h1{
  width:75%;
  background-color: #F9F5F6;
  padding: 2rem 2rem;
  margin: 0 auto;
  text-align: left;
  color:#232655;
}
.liste-articles{
  width:75%;
  padding:0 2rem;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #F9F5F6;
  
}
.articles-headline{
  width:28rem;
  height: 20rem;
  margin: 1rem 0;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.23);
  background-color:white;
  border-radius: 0.2rem;
}

.articles-headline h4{
  text-align: left;
  padding:0.5rem;
  color:black;
}
.articles-headline h5{
  text-align: left;
  color: #3654ff;
  margin: 0.5rem;
}

.articles-headline img{
  object-fit:cover;
  height: 20rem;
}
.articles-headline:hover{
  box-shadow: 0px 8px 8px rgba(0,0,0,0.23);
}
.articles-headline:hover img{
  transform: scale(1.05);
  cursor: pointer;
  
}
.articles-media-grid{
  
  display: grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "media"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh auto 30rem;      
}
.articles-media-main{
  grid-area: media;
}

article{
  width:55%;
  margin: 2rem auto;
  line-height: 1.5rem;
  text-align: center;
  padding: 2rem 3rem;
  border: solid 1px lightgray;
}
article img{
  width:80%;
  height: 15rem;
  object-fit: cover;
}
article h1{
  font-size: 2rem;
  color:#5C4B99;
  text-align: center;
  line-height: 2rem;
  animation:1s ease-out 0s 1 slideInAbove;
}
article h2{
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  color:#232655;
}
article p,li{
  text-align: justify;
  padding-top: 0.5rem;
}
article a{

  margin-top:2rem;
}
.link-text{
  color:#3654ff;
  
}

.rendez-vous-articles {
  position: relative;
  font-size: 0.825rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5em 0.5em;
  display: inline-block;
  border-radius: 0em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  font-weight: bold;
  color: white;
  background-color: #232655;
 }
 
 .rendez-vous-articles:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(158, 158, 158, 0.2);
 }
 
 .rendez-vous-articles:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 
 .rendez-vous-articles::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
 }
 
 .rendez-vous-articles::after {
  background-color: #3654ff;
 }

 #politique-container h3,h1,p{
  text-align: left;
 }

/***************************Media query*******************************/
@media only screen and (min-width:991px){
#navigation-bar{
      padding: 1.2rem 0rem ;
      display:flex;
      justify-content: space-around;
      align-items: center;
      grid-area: nav;
      transition:0.4s;
      position:fixed;
      top:0px;
      background-color: #fff;
      z-index:100;
  }
  nav.navigation{
      display: flex;
      width:40rem;
      justify-content: space-around;
      align-items: center;
  }
  
 .articles-carousel{
  width: 53rem;
  grid-auto-columns: 17rem;
}
  nav.navigation a{
      color:#232655;
      font-size: 1rem;    
    }
  .navigation a:hover{

color:#3654ff;
  }
  
  div.toggleBox{
      display: none;
  }
  .dropbtn {
    display: flex;
      color: #232655;
      background-color: white;
      border: none;
      font-size: 1rem;
      cursor: pointer;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      padding:0;
      
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 6rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 0.7rem 1rem;
      text-decoration: none;
      display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #DFD3C3;}
    #logo{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0;
    }
    #logo-images{
      transition:0.4s;
      width:4rem;
      margin-right: 0.5rem;
    }
    
    .logotext{
      width: 15rem;
      padding-right:1rem;
      display:flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .logo-nom{
      font-size: 1.25rem;
      font-weight: bold;
      color:#232655;
    }
    .logo-slogan{
      font-size: 0.9rem;
      
    }
    #rendez-vous {
      position: relative;
      font-size: 0.825rem;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.5em 0.5em;
      display: inline-block;
      border-radius: 0em;
      transition: all .2s;
      border: none;
      font-family: inherit;
      font-weight: bold;
      color: white;
      background-color: #232655;
     }
     
     #rendez-vous:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(158, 158, 158, 0.2);
     }
     
     #rendez-vous:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     }
     
     #rendez-vous::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 0px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
     }
     
     #rendez-vous::after {
      background-color: #3654ff;
     }
     
     #soumission{
      margin:1rem auto 1.5rem auto;
      height: 50%;
      width: 70%;
      display:flex;
      flex-direction: row;
      box-shadow:  21px 21px 41px #cfcfcf;
      z-index:10;
    }
     
#soumission-left{
  width:50%;  
}
.soumission-left-text{
  margin :5%;
  width: 90%;
  height:90%;
  display: flex;
  flex-direction: column;
justify-content: space-around;
align-items: center;
text-align: center;
}
.soumission-left-text h1{
  text-align: center;
}

#soumission-right{
  background-image: url("./images/EMP_7112.jpg");
  background-size: cover;
  background-position: 0 70%;
  width:50%;
  height:100%;
}

.section-left{
  opacity: 0;
  transition: all 1.5s ease;
  transform: translatex(-10rem);

}
.section-right{
  opacity: 0;
  transition: all 1.5s ease;
  transform: translatex(10rem);
}


}
@media only screen and (max-width:990px){
  .epargne-grid{
    display:grid;
    width:100%;
      position: relative;
      margin: auto;
      grid-template-areas: "nav"
                           "epargne"
                           "footer";
     grid-template-columns: 100%;
     grid-template-rows: 15vh 230rem 30rem;                    
  }
  .epargne-images img {
    width: 65%;
}
  .section-texte{
    flex-direction: column;
    align-items: center;
    height: 40rem;
  }
  .epargne-texte{
    width:100%;
    height:50%;
    padding: 2rem 0;
  }
  .epargne-images{
    
    width:95%;
    DISPLAY: FLEX;
    align-items: CENTER;
    object-fit: cover;
    object-position: bottom;
  }
  #image-approche-personalise {
    padding-top: 3rem;
}
  #image-approche-personalise,#image-argent-travail-pour-vous{
    flex-direction: column-reverse;
  }
  
#contact-left{
 display: none;
}
 #my-form{
  width:100%;
  height:98%;
 }
 #contact-box{
  height: 90%;
  
 }
}
@media only screen and (max-width:768px){
  
  nav.navigation.active{
    display:flex;
    flex-direction: column;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100vh;
    background-color: #232655;
    justify-content: center;
    align-items: center;
    
  }
  .main-grid{
    display: grid;
    width:100%;
      position: relative;
      margin: auto;
      grid-template-areas: "nav"
                           "banner"
                           "services"
                           "articles"
                           "footer";
     grid-template-columns: 100%;
     grid-template-rows: 15vh 60rem 70rem 40rem 45rem;                    
  }
  .articles-carousel{
    width: 30.5rem;
    grid-auto-columns: 14.5rem;
  }
  .articles-card{
    height:22rem;
  }
  
    .banner-main{
    flex-direction: column;
  }
  #banner-left{
    width: 100%;
    height:35%;
    background-size:cover;
    background-position: 0 65%;
      
  }
  #banner-right{
    width: 100%;
    height:50%
  }
  .banner-right-texte{
    align-items: center;
  }
  /*************Services*****************************/
  .services{
    width:15rem;
    margin:0.5rem;
  }
  #services-top{
    margin-top: 0;
  }
  
  
  #soumission-right{
    display: none;
  }
  #services-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .services h2{
    font-size: 1.2rem;
  }

#question-box{
flex-direction: column;
height:25rem

}
#question-box-left{
  width: 100%;
  height: 50%;
}
#question-box-right{
  width: 100%;
  height: 50%;
}
.contact-box-area{
  height:100%;
}
  #text-courriel, #text-cell{
  text-align: center;
  }
#reference-footer{
  flex-wrap: wrap;
  height:21rem;
  align-items: flex-start;
}
#reference-footer-left{
  margin-top: 1rem;
  width:15rem;
  height: 10rem;
}
#reference-nom h4{
font-size: 0.8rem;
}
#reference-nom h5{
font-size: 0.6rem;
}
#reference-footer-middle{
  margin-top: 1rem;
  width:15rem;
  height: 10rem;
}
#reference-footer-right{
  width:15rem;
  height: 10rem;
}
/************************assurance*********************/

.assurance-grid{
  display:grid;
  width:100%;
    position: relative;
    margin: auto;
    grid-template-areas: "nav"
                         "assurance"
                         "footer";
   grid-template-columns: 100%;
   grid-template-rows: 15vh 150rem 30rem; 
   font-family: 'Montserrat', sans-serif; 
}
.produits-assurance{
  flex-direction: column;
}
#titre-assurance-vie{ 
  width:90%;
}
#assurance-maladie{
  flex-direction: column-reverse;
}
#assurance-maladie ul{
  width:85%;
  padding-inline-start: 0.2rem;

}        
#titre-assurance-maladie{
  width:90%;
}
#assurance-invaliditer{
  grid-column: 2/14;
  grid-row: 23/27;
}
#assurance-auto-hab {
  grid-row: 27/31;
  grid-column: 2/14;
 margin-bottom: 2rem;;
}
.button-soumission svg {
  display: none;
}
.soumission-images-bar a img{
  width:3rem;
}
.apropos-grid{
  grid-template-rows: 15vh 70rem 30rem; 
}  
#main-apropos{
  flex-direction: column;
}
#texte-apropos {
  width: 100%;
  text-align: justify;
  margin:0;
}
#texte-apropos h1 {
  text-align: center;
  margin-top: 2rem;
}
#image-apropos {
  width: 100%;
height: 30%;
  background-image: url('./images/EMP_7303.jpg');
  background-size: cover;
  background-position: 0 30%;
}
.grid-services{
grid-template-rows: 15vh 60rem 30rem;
}
#choix-services-box {
  margin-top: 2rem;
flex-direction: column;
}
.choix-services {
  margin-bottom: 2rem;
  width: 80%;
}
.choix-services a {
  width: 50%;
}
#choix-epargne{
  background-position: 0 30%;
}

#form-contact-info {
  padding-top: 3rem;
}
.form {
  width: 20rem;
height: 40rem;
}
}
@media only screen and (max-width:605px){
  html{
    font-size: 12px ;
  }
  
.articles-wrapper i {
  height:4rem;
  width: 4rem;
}
  .main-grid{
     grid-template-rows: 15vh 70rem 70rem 50rem;                    
  }
  #reference-footer{
    height:32rem;
  }
  .button-soumission{
    padding:0;
    width:10rem;
    text-align: center;
  }
  .epargne-grid{
   
     grid-template-rows: 15vh 230rem 30rem;                    
  }
  .apropos-grid{
    grid-template-rows: 15vh 80rem 30rem; 
  } 
 .epargne-texte {
  padding:0;
}
 
}
@media only screen and (max-width:452px){
  .main-grid{
    grid-template-rows: 15vh 70rem 100rem 50rem;                    
 }
 
 .articles-carousel{
  width: 20rem;
  grid-auto-columns: 20rem;
}
 .services{
  width:18rem;
 }
 #soumission {
  width:80%; 
  height: 24rem;
  }
  #services-bottom {
    height: 85%;
  }
  .articles-headline{
    width:20rem;
    height:22rem;
}
.liste-articles{
  background-color: white;
}
article{
  width:80%;
  padding: 2rem 1rem;
}
}